@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika:wght@600&display=swap');
 
/* id selector */
body{
    margin:0px;
    background: linear-gradient(+135deg,#e6f2ff,#e6ffe6, #ffffe6,#ffe6e6);
   font-family: 'Signika', sans-serif;
   scroll-behavior: smooth;

}

/* class selector */
.bgclolour {
    background-color: orange;
    padding: 1rem 1rem;
    background-size: auto;
    margin:auto;
    border-radius:1.5rem;
    box-shadow:1px 1.3rem 0rem 0rem #232324;
    height:80px; 
}
.sticky{
    position:sticky;
    top :0;
}
li{
    
    display: inline;
    margin: 1rem;
    
  }
  a{
     text-decoration: none;
     color:white;
     font-size:1.6rem;
     font-weight:bold;
  }
  a:hover{
      background-color:pink;
      color:red;
      border:2px solid black;
      border-radius:15px;
      box-shadow: 0 0 15px #15d80e;
  }
  .img{
      text-align: center;
      border:1rem; 
      margin:auto;
      
  }
  .text{
      text-align: center;
      font-weight: bold;
      color:rgb(182, 115, 14);
      font-size: 1.5rem;
  }
  .about{
      font-size: 1.7rem;
      font-weight: bold;
      color:white;
      background-color:purple;
      border: 0.5rem solid black;
      border-radius: 1.9rem;
      padding: 3.1rem;
      margin:0 35rem;
      text-align: center;
      box-sizing: border-box;
      box-shadow: 1px 13px 0px 0px #232324;
     
  }
  
  .link{
    height:100px;
    background-color: rgb(115, 16, 182);
    border: 3px solid black;
    margin:30px 260px;
    border-radius: 19px;
    box-shadow: 1px 13px 0px 0px #232324;
    
}
.imtext{
    background-color:gainsboro;
    /*color:white;*/
    display: flex;
    text-align: center;
    width:50%;
    height:auto;
    margin:auto;
    border-radius: 3px;
    border:2px solid black;
    margin-top: 10px;
    font-size:20px;
    font-weight: bold;
    max-width: 600px;

}

@media (max-width: 1308px) 
{
    .imtext{
        display: block; 
    }
    .link{
        margin:auto;
        margin-top: 30px;
    }
    .about {
        margin: 2rem 6rem 2rem 6rem;
    }
   

  }
